@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #1e2630;
  border-radius: 12px;
  box-shadow: 0 0 20px #00000044;
}


body {
  font-family: 'Poppins', sans-serif;
  background: #0d1117;
  color: #e6edf3;
  margin: 30px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 14px;
  background-color: #1e2630;
  color: #e6edf3;
  border: 1px solid #c2d3d6;
  border-radius: 10px;
  resize: vertical;
  box-shadow: 0 0 10px #00000044;
  transition: box-shadow 0.3s;
  font-family: 'Poppins', sans-serif;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 12px #1e2630;
}

button {
  padding: 14px 30px;
  border-radius: 10px;
  background: rgba(3, 115, 243, 0.1);
  color: #e6edf3; /* Warna Highlight */
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0, 18, 71, 0.2);
}

button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.03);
}

pre {
  background: #1e2630;
  padding: 20px;
  border: 1px solid #1e2630;
  border-radius: 10px;
  color: #e6edf3;
  font-size: 18px;
  font-family: 'Courier New', monospace;
  margin-top: 20px;
  box-shadow: 0 0 12px #00000044;
  font-family: 'Poppins', sans-serif;
}

/* Efek salju */
.snowflake {
  position: fixed;
  top: -10px;
  color: #e6edf3;
  user-select: none;
  z-index: 9999;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 14px;
  opacity: 0.7;
}

@keyframes fall {
  0%   { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(100vh); opacity: 0; }
}
